---
import { Image } from "astro:assets";

const { items, link } = Astro.props;
// import defaultImage from "../../../../src/assets/img/logo-light.png";
---

<div class="tt-section">
  <div class="tt-section-inner">
    <div id="portfolio-grid" class="pgi-hover">
      <div class="tt-grid ttgr-layout-creative-2 ttgr-gap-4">
        <div class="tt-grid-items-wrap isotope-items-wrap">
          {
            items.map((item: any) => (
              <div class={`tt-grid-item isotope-item ${item.subheader.value}`}>
                <div class="ttgr-item-inner">
                  <div class="portfolio-grid-item">
                    <a
                      href={item.link.url}
                      class="pgi-image-wrap"
                      data-cursor="View<br>Project"
                    >
                      <div class="pgi-image-holder">
                        <div class="pgi-image-inner anim-zoomin">
                          <figure class="pgi-image ttgr-height">
                            {item.image.value ? (
                              <Image
                                src={item.image?.value || "default image"}
                                alt={item.image.alt || "Default Image"}
                                width={100}
                                height={100}
                              />
                            ) : (
                              <video
                                class="pgi-video"
                                loop
                                muted
                                preload="metadata"
                                poster={item.image.alt}
                              >
                                <source src={item.image.alt} type="video/mp4" />
                                <source
                                  src={item.image.alt}
                                  type="video/webm"
                                />
                              </video>
                            )}
                          </figure>
                        </div>
                      </div>
                    </a>

                    <div class="pgi-caption">
                      <div class="pgi-caption-inner">
                        <h2 class="pgi-title">
                          <a href={item.link.url}>{item.header.value}</a>
                        </h2>
                        <div class="pgi-categories-wrap">
                          <div class="pgi-category">{item.subheader.value}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class="text-center anim-fadeinup">
      <a
        href={link.destination}
        class="tt-scrolling-btn all-works-btn"
        data-cursor="All<br>Works"
      >
        <div class="scr-btn-inner ph-appear">
          <div class="scr-btn-icon">
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="scr-btn-spinner">
            <svg viewBox="0 0 500 500">
              <defs>
                <path
                  d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                  id="textcircle"></path>
              </defs>
              <text dy="30" class="scr-btn-text">
                <textPath xlink:href="#textcircle">{link.label}</textPath>
              </text>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
